<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite2">
  <test thread-count="5" parallel="classes" name="Test2">
    <classes>
	  <class name="Test.ExtentReportTestNG"/>
      <class name="Test.Test1_GoogleSearch"/>
		<methods> <exclude name="googlesearch2"></exclude>  </methods>
	  </classes>
  </test> <!-- Test2 -->
</suite> <!-- Suite2 -->
